# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Env and DB
.env
*.sqlite3
*.db

# Editor
.vscode/
.idea/

# Django migrations
**/migrations/__pycache__/
*.log

# Media/static (if generated)
media/
static/

# Jupyter notebooks / misc
.ipynb_checkpoints/
